@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/* enforse fallable montserrat to all the text */
* {
  font-family: "Montserrat", sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black !important;
}
button[data-testid="rk-connect-button"] {
  background-color: white !important;
  color: black !important;
  font-weight: 100 !important;
  width: 32dvw !important;
}

@media (min-width: 768px) {
  button[data-testid="rk-connect-button"] {
    width: 11dvw !important;
  }
}
